@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* 修复闪烁问题 */
html.dark {
  color-scheme: dark;
}

/* 辅助类 */
.transition-theme {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
